@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.eot');
  src: url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Bold.svg#OpenSans-Bold') format('svg'),
       url('OpenSans-Bold.ttf') format('truetype'),
       url('OpenSans-Bold.woff') format('woff'),
       url('OpenSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

